.body{
    background-image: url(https://repository-images.githubusercontent.com/299409710/b42f7780-0fe1-11eb-8460-e459acd20fb4);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Navigation */
.navbar{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 80px;
    margin-left: 50px;
    justify-content: space-between;
}
.navbar li:first-child{
    margin-right: auto;
}
.logo{
    width: 200px;
    height: auto;
    cursor: pointer;
}
.language{
    color: white;
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.502);
    margin-right: 50px;
    border-radius: 5px;
}
.sign{
    width: 150px;
    height: 51px;
    padding: 10px;
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
    background-color: #dc030f;
    border-radius: 5px;
    border: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
h1{
    margin-top: 150px;
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
h3{
    text-align: center;
    color: white;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

/* LogIn */
input{
    width: 350px;
    padding: 15px;
    border-radius: 5px;
    border: 0.1 solid;
    margin-left: 30%;
    color:aliceblue;
    background-color: rgba(32, 32, 32, 0.502);
    font-size: 1.2rem;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.login{
    width: 200px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: 0;
    background-color: #dc030f;
    font-size: 1.4rem;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}